
.BoxForm {
    display:block;
    text-align: center;
    margin-top: 2%;
}

.FormCard {
    margin-left: 40%;
    margin-right: 40%;
    padding-top: 2%;
    padding-bottom:2%;
    text-align: center;
}

.Form {
}

.BoxFormUnitaire {
    display: block;
    margin-bottom: 10px;
}

.ButtonForm {
    background-color:beige !important;
    color: black !important;
}

.labelForm {
}
