.logo {
    width: 25%;
    height: auto;
    margin-top: 1.5%;
}
.list {
    display: flex;
}

.HeadBand {
    margin-bottom: 100px;
}

.Btn {
    color: black !important;
}

.BackGround {
    background-color: beige !important;
}

.Composant {
    width: auto;
    height: 150px;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
}