.imgMagaliPagesAcceuil {
    margin-top: 5%;
    margin-left: 34%;
    margin-bottom: 2%;
    width: 33%;
    height: auto;
    display: flex;
}

.imgLogoLegumeAcceuil {
    margin-left: 45%;
    margin-bottom: 2%;
    width: 10%;
    height: auto;
    display: flex;
}